input,
textarea,
button {
	outline-style: none;
	border: none;
	font-family: var(--basic-font);
}

/*----form------*/
.form {
	width: 100%;
	margin: 0 auto;
	color: var(--font-dark);
}
.form__title {
	text-align: center;
	color: var(--font-light);
	font-size: 14px;
	text-align: left;
}
.form__item {
	margin-top: 10px;
}
.form__label {
	display: block;
	font-size: 14px;
}
.form__input,
.form__question {
	display: block;
	height: 40px;
	margin-top: 5px;
	padding: 5px;
	width: 100%;
	font-size: 14px;
	border: none;
	border: 1px solid #dfdfdf;
	border-bottom: 1px solid grey;
}
.form__input:focus,
.form__question:focus {
	border-bottom: 1px solid var(--border-light);
	background-color: var(--bg-lightest);
	box-shadow: 0 0 5px 5px var(--bg-light);
	color: var(--font-dark);
	position: relative;
}
.form__question {
	resize: vertical;
	min-height: 100px;
}
.form__button {
	margin: 20px auto 0 auto;
}
::placeholder {
	font-size: 14px;
	color: gray;
}
/*----------*/
.form__error {
	margin-top: 20px;
	color: red;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
._error {
	color: red;
	box-shadow: 0 0 5px 3px red;
}

/*------------#frmService---------*/
#frmService .form__label {
	font-weight: bold;
	color: var(--font-light);
}

#frmService .form__item {
	margin-top: 10px;
}

#frmService .form__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

#frmService .form__block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

#frmService .form__subblock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

#frmServiceServices {
	min-height: 200px;
}

#frmService .form__block:nth-of-type(2) > .form__item {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.preview {
	margin-top: 5px;
	flex-basis: 100%;
	min-height: 200px;
	justify-self: stretch;
	border: 1px solid var(--bg-lightest);
}

#frmService .form__block:nth-of-type(3) > .form__item:nth-child(3) {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
}

#frmServiceComment {
	flex-basis: 100%;
}

#frmServiceServices,
#frmServiceComment {
	resize: none;
}
#frmServiceDate,
#frmServiceTime,
#frmServiceServices {
	font-size: 16px;
	font-weight: bold;
	background: none;
}

#frmService .preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*------------#frmService---------*/

@media screen and (max-width: 768px) {
	#frmService .form__content {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media screen and (max-width: 425px) {
}
