input,
textarea,
button {
	outline-style: none;
	border: none;
	font-family: var(--basic-font);
}

/*----form------*/
.form {
	width: 100%;
	margin: 0 auto;
	color: var(--font-dark);
}
.form__title {
	text-align: center;
	color: var(--font-light);
	font-size: 14px;
	text-align: left;
}
.form__item {
	margin-top: 10px;
	position: relative;
}
.form__label {
	display: block;
	font-size: 14px;
	color: var(--font-light);
}
.form__input,
.form__question {
	display: block;
	height: 40px;
	margin-top: 5px;
	padding: 5px;
	width: 100%;
	font-size: 14px;
	border: none;
	border: 1px solid var(--border-light);
	/*border-bottom: 1px solid grey;*/
}
.form__input:focus,
.form__question:focus {
	border-bottom: 1px solid var(--border-light);
	background-color: var(--bg-lightest);
	box-shadow: 0 0 7px 2px var(--shadow-light);
	color: var(--font-dark);
	position: relative;
}
.form__question {
	resize: vertical;
	min-height: 100px;
}
.form__input[name="formName"],
#totalSum {
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	visibility: hidden;
}
.form__button {
	margin: 20px auto 0 auto;
}
::placeholder {
	font-size: 14px;
	color: gray;
}

.checkbox-label {
	padding-left: 30px;
	cursor: pointer;
	color: var(--font-light);
	font-weight: 400;
	position: relative;
	font-size: 14px;
}

.checkbox-label a {
	color: var(--font-lightest);
	text-decoration: underline;
}
.checkbox-label::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	background-color: var(--bg-lightest);
	border: 1px solid var(--border-light);
}
.checkbox-label::after {
	content: "";
	position: absolute;
	display: block;
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	background-color: var(--border-light);
	transform: scale(0);
	transition: 0.5s ease;
}
.form__input[type="checkbox"]:checked ~ .checkbox-label::after {
	transform: scale(1);
}
/*----------*/

/*------------errors---------*/
._error {
	/*border: 1px solid red;*/
	box-shadow: 0 0 10px 2px red;
}
.input-error {
	margin-top: 5px;
	color: red;
	font-size: 10px;
	    font-weight: 600;
	display: none;
}
input._error ~ label:not(.checkbox-label) {
	/*border: 1px solid red;*/
	box-shadow: 0 0 10px 2px red;
}
input._error ~ label.checkbox-label::before {
	/*border: 1px solid red;*/
	box-shadow: 0 0 10px 2px red;
}

._error ~ .input-error {
	display: block;
}
/*------------errors---------*/

#frmServiceDate._error,
#frmServiceTime._error,
#frmServiceServices._error {
	/* color: red; */
	border: 1px solid red;
	box-shadow: 0 0 5px 3px red;
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 425px) {
}
