/*--шрифты--*/
/*--лого--*/
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mr+De+Haviland&display=swap");
/*--сайт--*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Great+Vibes&family=Montserrat:wght@100&family=Mr+De+Haviland&family=Zen+Antique+Soft&display=swap");
/*--декор--*/
@import url("https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap");

/*--переменные--*/
/*--цвета--*/
:root {
	/*шрифт*/
	--basic-font: "Montserrat", sans-serif;
	--decor-font: "Cormorant Garamond", serif;
	/*--decor-font: "Zen Antique Soft", serif;*/
	--digit-font: "Mrs Sheppards", cursive;
	/*--цвета текста--*/
	--font-dark: #1f261f;
	--font-middle: #477652;
	--font-light: #02be90;
	--font-lightest: #ffffff;
	/*--цвета фона--*/
	--bg-dark: black;
	--bg-middle: #477652;
	--bg-light: #02be90;
	--bg-lightest: #ffffff;

	/*--цвета тени--*/
	--shadow-dark: #1f261f;
	--shadow-middle: #477652;
	--shadow-light: #02be90;
	/*--цвета бордюра--*/
	--border-dark: #1f261f;
	--border-middle: #477652;
	--border-light: #02be90;
	--border-lightest: #ffffff;
}
/*------------------сброс-----------------*/
*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
ol,
ul {
	list-style: none;
}
/*-----------общие правила-----------*/
body {
	font-size: 14px;
	font-family: var(--basic-font);
}
header {
	min-width: 320px;
}
.wrapper {
	width: 100%;
	height: 100%;
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
.section {
	padding: 20px 0;
	min-width: 320px;
}
.section__title {
	text-transform: uppercase;
	text-align: center;
	color: var(--font-dark);
	font-weight: 700;
	font-size: 20px;
}
.section__subtitle {
	text-align: center;
	font-family: var(--decor-font);
	color: var(--font-dark);
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	position: relative;
	margin-bottom: 10px;
}
.section__subtitle span:first-child {
	display: block;
	position: relative;
	width: 100%;
	height: 1px;
	top: 15px;
	background-color: var(--bg-dark);
}
.section__subtitle span:last-child {
	font-size: 24px;
	padding: 0 20px;
	background-color: var(--bg-lightest);
	position: relative;
	z-index: 1;
}
.section__content {
	min-height: 100px;
}

.section:nth-child(odd) {
	background-color: var(--bg-dark);
}
.section:nth-child(odd) .section__title {
	color: var(--font-lightest);
}
.section:nth-child(odd) .section__subtitle {
	color: var(--font-light);
}
.section:nth-child(odd) .section__subtitle span:first-child {
	background-color: var(--bg-light);
}
.section:nth-child(odd) .section__subtitle span:last-child {
	background-color: var(--bg-dark);
}

.section:nth-child(even) {
	background-color: var(--bg-lightest);
}
.section:nth-child(even) .section__title {
	color: var(--font-dark);
}
.section:nth-child(even) .section__subtitle {
	color: var(--font-light);
}
.section:nth-child(even) .section__subtitle span:first-child {
	background-color: var(--bg-light);
}
.section:nth-child(even) .section__subtitle span:last-child {
	background-color: var(--bg-lightest);
}

.button,
.button-link {
	display: block;
	width: 250px;
	height: 50px;
	border: 1px solid var(--border-light);
	font-family: var(--basic-font);
	font-weight: 500;
	font-size: 20px;
	color: var(--font-lightest);
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
	transition: 0.5s;
}
.button:hover,
.button-link:hover {
	border: 1px solid var(--border-lightest);
	background: var(--bg-light);
}

/*------------------header----------------------*/
.header {
	width: 100%;
}

.header__top {
	height: 100px;
	background-color: black;
}
.header__info {
	height: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

/*------------------logo----------------------*/
.logo {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo__img,
.logomin__img {
	display: inline-block;
	height: 80%;
}
.logo__name,
.logomin__name {
	display: block;
	font-family: "Mr De Haviland", cursive;
	font-size: 34px;
	color: var(--font-light);
	line-height: 0.9;
}
.logo__studio,
.logomin__studio {
	display: block;
	font-family: "Great Vibes", cursive;
	font-size: 36px;
	color: var(--font-lightest);
	line-height: 0.9;
}
.logomin {
	display: none;
}
/*------------------info----------------------*/
.info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.info__item {
	margin: 0 10px;
}
.info__title {
	font-weight: bold;
	color: var(--font-light);
}
.info__text {
	display: block;
	margin: 5px 0;
	color: var(--font-lightest);
}

.info__soclink {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px 5px;
	background-image: url(../img/soc_icons.png);
	background-size: 150px;
}
.info__soclink:nth-of-type(1) {
	background-position: 0px 0px;
	margin-left: 0;
}
.info__soclink:nth-of-type(2) {
	background-position: -30px 0;
}
.info__soclink:nth-of-type(3) {
	background-position: -60px 0;
}

.info__soclink:nth-of-type(1):hover {
	background-position: 0px -30px;
}
.info__soclink:nth-of-type(2):hover {
	background-position: -30px -30px;
}
.info__soclink:nth-of-type(3):hover {
	background-position: -60px -30px;
}

/*------------------menu----------------------*/
.header__bottom {
	height: 50px;
	background-color: var(--bg-dark);	
}
.menu {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*background-image: linear-gradient(0deg, var(--bg-middle) 0%, var(--bg-dark) 30%, var(--bg-dark) 70%, var(--bg-middle) 100%);*/
	border-top: 1px solid var(--border-light);
	border-bottom: 1px solid var(--border-light);
	z-index: 3;
}
.menu__item {	
	position: relative;
}
.menu__link {
	display: block;
	height: 100%;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--font-lightest);
	transition: color 0.5s;
}
.menu__link:hover {
	color: var(--font-light);
}

.menu__active {
	color: var(--bg-light);
}

.menu__active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 15px;
	background-color: var(--bg-light);
}

/*------------------burger----------------------*/
.burger {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.burger span {
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: var(--bg-light);
	transition: all 0.3s;
}
.burger span:nth-child(1) {
	top: 7px;
}
.burger span:nth-child(2) {
	top: 18px;
}
.burger span:nth-child(3) {
	top: 29px;
}
#check-burger {
	display: none;
}
#check-burger:checked + .burger span:nth-child(1) {
	top: 18px;
	transform: rotate(45deg);
}
#check-burger:checked + .burger span:nth-child(2) {
	display: none;
}
#check-burger:checked + .burger span:nth-child(3) {
	top: 18px;
	transform: rotate(-45deg);
}
/*---------------section---------------*/
/*-------------first screen------------------*/
.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	background: none;
	margin-bottom: 0px;
}
.slide__inner {
	min-height: 600px;
	background: url("../img/bg-first.jpg") center/cover no-repeat;
	color: var(--font-lightest);
	font-family: var(--decor-font);
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 20px;
}

.first-section {
	padding: 0;
}
.first-margin-top {
	margin-top: 50px;
}
.first-section .section__content{
	position: relative;
}

/*-------------slide__left------------------*/
.slide__left,
.slide__right {
	width: 50%;
}
.slide__left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.slide__text {
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
.slide__text:nth-of-type(1) {
	margin-top: 135px;
	font-size: 46px;
}
.slide__text:nth-of-type(2) {
	font-size: 54px;
	/*letter-spacing: 0.1em;*/
}

.slide__decor {
	display: block;
	width: 40%;
	margin: 35px auto 20px auto;
}

.signup {
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-family: var(--basic-font);
	z-index: 1;
}
.signup__text {
	font-size: 20px;
	color: var(--font-lightest);
	margin: 20px 0;
}
.signup__text span{
	text-transform: uppercase;
	font-weight: bold;
	color: var(--font-light);	
}

/*-------------slide__right------------------*/
.slide__right {
	padding-left: 20px;
	position: relative;
}
.slide__frame,
.slide__img {
	width: 90%;
	height: 90%;
	position: absolute;
	bottom: 0;
	border: 3px solid var(--border-light);
}
.slide__frame {
	border: 3px solid var(--border-lightest);
	right: 0;
	top: 0;
}
.slide__img {
	font-size: 0px;
}
.slide__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*-------------about------------------*/
.about__left {
	width: 25%;
	margin-right: 20px;
	float: left;
	position: relative;
}

.about__video {
	border: 3px solid var(--border-light);
	font-size: 0;
}
.about__video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about__text {
	font-size: 20px;
	text-align: justify;
	margin-top: 30px;
}
.about__text:first-child {
	text-align: left;
	text-transform: uppercase;
	margin-top: 0px;
	font-weight: 700;
}

.about__second,
.about__third {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.about__second .box {
	font-weight: 700;
	width: 25%;
	background: url("../img/bg-box.png") no-repeat;
	background-position: left 10% top 75%;
	background-size: 20%;
}
.about__second .box__title {
	font-size: 20px;
}
.about__second .box__value {
	font-family: var(--digit-font);
	font-size: 40px;
	text-align: center;
}
.about__second .box__text {
	font-size: 30px;
	text-align: center;
	color: var(--font-light);
}

.about__third .box {
	width: 30%;
	background: none;
}
.about__third .box__title {
	font-weight: 700;
	font-size: 18px;
}

.about__third .box__text {
	font-weight: 500;
	margin: 5px 0;
	color: var(--font-dark);
}

/*-------------services------------------*/
.services {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.services__item {
	width: 30%;
	border: 3px solid var(--border-light);
	position: relative;
	overflow: hidden;
}
.services__img {
	font-size: 0;
}
.services__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.services__inner {
	position: absolute;
	width: 120%;
	height: 50%;
	top: 150%;
	left: -10%;
	/*transform-origin: top left;*/
	transform: rotate(30deg);
	border-top: 1px solid var(--border-light);
	background-color: rgba(255, 255, 255, 0.7);
	transition: all 0.5s;
}
.services__title,
.services__price {
	text-align: center;
	/*padding-top: 10px;*/
	font-family: var(--basic-font);
	font-style: italic;
	font-weight: 700;
}
.services__title {	
	font-size: 40px;
}
.services__price {	
	color: var(--font-light);
	font-weight: 900;
	font-size: 20px;
}
.services__item:hover .services__inner {
	top: 50%;
	transform: rotate(0deg);
}
.services__link {
	margin: 20px auto 0 auto;
}

/*-------------gallery------------------*/
.gallery {
	padding-top: 5px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 5px;
	grid-auto-flow: dense;
}

.gallery__item {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 3px solid var(--border-light);
	transition: border 0.5s linear;
	font-size: 0px;
	position: relative;
	cursor: zoom-in;
}
.gallery__img {
	width: 100%;
	height: 100%;
	font-size: 0px;
	object-fit: cover;
	transition: transform 0.5s linear;
}

.gallery__item:nth-child(3n + 1) {
	grid-area: span 2 / span 2;
}
/*
.gallery__item:nth-child(4n + 1) {
	grid-area: span 3 / span 2;	
}
*/
.gallery__item:hover {
	/*border: 3px solid var(--border-lightest);*/
}
.gallery__item:hover img {
	transform: scale(1.1);
}
/*lightbox*/
.lb-closeContainer {
	display: none;
}

/*-----------технические классы-----------*/
._clear {
	clear: both;
}
._noborder{
	border: none;
}
._fixedmenu {
	position: fixed;
	width: 100%;
	top: 0;
	transition: all 0.5s;
	z-index: 2;	
	/*background-image: linear-gradient(0deg, var(--bg-middle) 0%, var(--bg-dark) 30%, var(--bg-dark) 70%, var(--bg-middle) 100%);*/
	/*border-top: 1px solid var(--border-light);
	border-bottom: 1px solid var(--border-light);	*/
	box-shadow: 0 0 7px 1px var(--border-light);	
}


/*MEDIA*/
/*-------------------1440---------------*/
@media screen and (max-width: 1440px) {
	.first-section .wrapper {
		padding: 0;
	}
	.slide__text:nth-of-type(1) {
		margin-top: 135px;
		font-size: 32px;
	}
	.slide__text:nth-of-type(2) {
		font-size: 38px;
	}
}
/*-------------------1200---------------*/
@media screen and (max-width: 1200px) {
	.about__text {
		font-size: 18px;
		margin-top: 15px;
	}
}

/*-------------------1024---------------*/
@media screen and (max-width: 1024px) {
	.logo__name,
	.logo__studio {
		font-size: 24px;
	}

	.info__item,
	.info__title {
		font-size: 10px;
	}

	.info__soclink {
		width: 20px;
		height: 20px;
		background-size: 100px;
	}
	.info__soclink:nth-of-type(2) {
		background-position: -20px 0;
	}
	.info__soclink:nth-of-type(3) {
		background-position: -40px 0;
	}

	.info__soclink:nth-of-type(1):hover {
		background-position: 0px -20px;
	}
	.info__soclink:nth-of-type(2):hover {
		background-position: -20px -20px;
	}
	.info__soclink:nth-of-type(3):hover {
		background-position: -40px -20px;
	}

	.slide__text:nth-of-type(1) {
		margin-top: 135px;
		font-size: 24px;
	}
	.slide__text:nth-of-type(2) {
		font-size: 28px;
	}

	.about__text {
		font-size: 14px;
		margin-top: 12px;
	}

	.about__second .box__title {
		font-size: 14px;
	}
	.about__second .box__value {
		font-size: 24px;
	}
	.about__second .box__text {
		font-size: 20px;
	}
	.about__third .box__title {
		font-size: 14px;
	}
	.about__third .box__text {
		font-size: 12px;
	}
	
	.services__title {	
		font-size: 36px;
	}
	.services__price {	
		color: var(--font-light);
		font-size: 18px;
	}

}

/*------------------768----------------*/
@media screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
	}
	.info__item:nth-child(1),
	.info__item:nth-child(2) {
		display: none;
	}
	.logo__name,
	.logo__studio {
		font-size: 20px;
	}

	.info__item,
	.info__title {
		font-size: 10px;
	}
	.header__bottom {
		height: 35px;
	}
	.menu__link {
		font-size: 10px;
		padding: 10px 0;
	}
	.menu__active::after {
		bottom: 5px;
	}

	.slide__inner {
		min-height: 400px;
	}
	.slide__left {
		width: 100%;
	}
	.signup {
		margin-top: 20px;
	}
	.slide__right {
		display: none;
	}
	.slide__text:nth-of-type(1) {
		margin-top: 40px;
		font-size: 24px;
	}

	.about__video {
		display: none;
	}
	.about__text:first-child {
		text-align: center;
	}
	.about__second {
		flex-wrap: wrap;
		justify-content: center;
	}
	.about__second .box {
		width: 40%;
		margin: 10px 0;
	}

	.about__second .box__title {
		font-size: 12px;
	}
	.about__second .box__value {
		font-size: 20px;
	}
	.about__second .box__text {
		font-size: 14px;
	}

	.about__third .box__title {
		font-size: 12px;
	}
	.about__third .box__text {
		font-size: 10px;
	}
	
	.services__title {			
		font-size: 16px;
	}
	.services__price {	
		font-size: 12px;
	}
}

/*------------------425------------------*/
@media screen and (max-width: 425px) {
	.header__top {
		display: none;
	}
	.logomin {
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.logomin__name {
		font-size: 20px;
	}
	.logomin__studio {
		font-size: 20px;
	}
	.info__item,
	.info__title {
		font-size: 9px;
	}
	.header__bottom {
		position: fixed;
		width: 100%;
		top: 0;
		height: 50px;
		background-color: var(--bg-dark);		
		box-shadow: 0 0 7px 1px var(--border-light);
		z-index: 3;
	}
	.burger {
		display: block;
	}
	.menu {
		display: block;		
		position: absolute;
		top: 50px;		
		left: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity 0.5s;
	}
	#check-burger:checked ~ .menu {
		left: 0;
		opacity: 1;
	}

	.menu__item {
		background-color: black;
	}
	.menu__link {
		text-align: center;
		font-size: 14px;
		/*margin: 0px 10px;*/
		padding: 14px 0px;
		border-bottom: 1px solid var(--border-lightest);	
	}
	.menu__item:last-child .menu__link{
		border-bottom: none;	
	}
	.menu__active::after {
		width: 0;
	}
	.slide__inner{
		min-height: 370px;
	}
	.slide__text:nth-of-type(1) {
		margin-top: 60px;
		font-size: 20px;
	}
	.slide__decor {
		margin: 25px auto 10px auto;
	}
	.slide__text:nth-of-type(2) {
		font-size: 24px;
	}
	
	.signup{
		width: calc(100% - 40px);
	}
	.signup__text {
		text-align: center;
		font-size: 16px;
	}
	.signup__button{
		margin: 0 auto;
	}
	
	.about__third {
		display: block;
	}	
	.about__third .box {
		width: 100%;
	}
	
	.services{
		display: block;		
	}
	.services__item{
		width: 100%;
	}
	.services__item:nth-child(2){
		margin: 20px 0;
	}
	.services__inner{
		padding-top: 15px;
	}
	.services__title {			
		font-size: 36px;
	}
	.services__price {	
		font-size: 24px;
	}	
	
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
	.gallery__item:nth-child(3n + 1) {
		grid-area: span 1 / span 1;
	}	
	.gallery__item:nth-child(4n + 1) {
		grid-area: span 2 / span 2;
	}
}
